@import "/src/assets/style/base.scss";

.product {
    padding: 15px;
    margin: 0 0 15px;
    display: flex;
    border-bottom: 1px solid $text-color;
    .product-img{
        max-width: 140px;
        img {
            border-radius: 6px;
            width: 100%;
        }
    }
    .product-content{
        flex: 1;
        display: flex;
        justify-content: space-between;
        padding: 0 0 0 25px;
        .about-product{
            .title {
                font-size: 24px;
                margin: 0 0 20px;
            }
            .price {
                color: $text-color;
            }
        }
        .add-to {
            margin:auto 0;
            display: flex;
            flex-wrap: wrap;
            max-width: 163px;
            .btn {
                background-color: $primary;
                color: $white;
                font-size: 18px;
                padding: 6px 15px;
                cursor: pointer;
                border-radius: 4px;
                user-select: none;
            }
            .quantity {
                border: 1px solid $black;
                padding: 10px 15px;
                width: 75px;
                margin: 0 5px;
                border-radius: 4px;
            }
            button.remove {
                width: 100%;
                margin: 10px 0 0;
                background-color: $primary;
                color: $white;
                font-size: 16px;
                padding: 14px 10px;
                border-radius: 4px;
                font-family: $font-family;
                cursor: pointer;
            }
        }
    }
}